* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family:sans-serif;
}


.wrapper::before {
    z-index:-1;
    position:fixed;
    top:-50vmax;
    left:-50vmax;
    content:"";
    background: linear-gradient(-135deg, #f7bbf2, #aee9fb);
    height:170vmax;
    width:170vmax;
    animation:colorRotate 2s linear infinite;
}

.core-accent {
    background-color:rgb(80, 177, 237);
    color:rgb(247, 253, 255);
}

.core-accent.negative {
    background-color:rgb(244, 140, 140);
}

.result-wrapper {
    background-color: black;
}


.window-button-wrapper {
    display:inline-block;
    margin-right: 20px;
    vertical-align:middle;
}

.window-button {
    cursor:default;
    display:inline-block;
    padding: 6px;
    margin: 0 1px;
    border-radius: 100%;
}

.window-button:hover {
    filter:brightness(95%);
}

.window-button:active {
    filter:brightness(110%);
}

#close {
    background-color: #f33d3d;
}

#minimize {
    background-color: #feeb7e;
}

#fullscreen {
    background-color: #30e626;
}

.result-outline {
    cursor: grab;
    padding:4px;
}

.result-outline:active {
    cursor: grabbing;
}

.result {
    color:rgb(247, 253, 255);
    padding-top:8px;
    font-size:2.4rem;
    font-family:'Segoe UI';
    text-align:right;
    margin-right:8px;
}

.calculator-container {
    z-index:1;
    position:absolute;
    top: 10%;
    left: 50%;
    transform:translate(-50%, 0%);
    user-select:none;
    width:250px;
}

.button {
    font-size:1.5rem;
    text-align:center;
    padding:8px;
}

.button:hover {
    transition: filter .1s;
    filter:drop-shadow(0px 0px 1px rgb(46, 46, 46));
}

.button:active {
    filter:opacity(.85)
}

.operator, #Enter {
    background-color:rgb(228, 233, 236);
}

.operator:focus {
background-color:rgb(200, 229, 245);
outline:none;
}

.operator.negative:focus {
    background-color:rgb(245, 200, 200);
}

.button-wrapper {
    display:grid;
    grid-template-columns: 70% 30%;
}

.core-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.core-wrapper>* {
    border-right:1px solid black;
    border-top: 1px solid black;
}

.operator-wrapper>* {
    border-top:1px solid black;
}

#Digit0 {
    grid-column: 1/3;
}

@keyframes colorRotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}